:root {
  --primarycolor: rgb(24, 24, 24);
  --backgroundcolor: rgb(24, 24, 24);
  --tertiarycolor: #ffffff;
  --accentcolor: #a8986a;
}

#main-head-part-1 {
  font-size: 105px;
}

#main-head-part-2 {
  font-size: 145px;
}

#main-head {
  font-family: Arial, Helvetica, sans-serif;
}
