* {
      margin: 0;
      padding: 0;
      color: whitesmoke;
}

body {
      background-color: rgb(27, 27, 27);
}

#heading1 {
      font-family: 'Times New Roman', Times, serif;
      text-align: center;
}

.strong {
      color: rgb(25, 116, 116);
}
